/* 为了让ie浏览器居中显示内容 */
body {
	text-align: center;
	background: url(../images/header_bg.jpg) repeat-x 0 0;
}
.main {
	text-align: left;
	width: 958px;
	margin: 0 auto;
}
/* 头部样式 */
.header {
	height: 87px;
	background: url(../images/header.jpg) no-repeat;
	position: relative;
}
.help {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
}
.help a {
	color: #fff;
	text-decoration: none;
}
.help a:hover {
	text-decoration: underline;
}
/* 导航条样式 */
.topbar {
	height: 42px;
	line-height: 42px;
	color: #777;
	font-size: 14px;
	font-weight: bold;
}
.topbar ul li {
	display: inline;
	padding: 12px 20px;
}
.topbar ul li a:hover {
	color: #0154a4;
	text-decoration: none;
}
/* 关于我们页面样式 */
.int {
	border: 1px solid #aaa;
	margin-bottom: 20px;
}
.int_title {
	height: 30px;
	line-height: 30px;
	background: #0550a3;
}
.int_con p {
	text-indent: 2em;
	line-height: 30px;
	font-size: 14px;
	margin: 10px 20px;
}
.t_c {
	text-align: center;
	margin: 10px;
}

.clicked {
	color: #0153a5;
}
